@import url('https://fonts.googleapis.com/css2?family=Acme&family=Staatliches&display=swap');

.row {
  height: 25%;
}

body {
  
  background-color: #6b6e70;
}
/**************************************** Always set the map height explicitly to define 
the size of the div 
element that contains the map. */

#map {
  
  height: 50%;
}
      
/**************************************** Optional: Makes the sample page fill the window. */

html, body {
  
  height: 100%;
  margin: 0;
  padding: 0;
}

div #map {
  min-height: 360px;
}

/**************************************** a styling */

nav a {
  font-family: 'staatliches', 'Times New Roman', Times, serif;
  color: white;
  font-size: 2em;
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
}

a:hover {
  color: red;
}

/**************************************** h2 styling */

h2 {
    text-transform: uppercase;
    font-family: 'staatliches', 'Times New Roman', Times, serif;
    font-size: 80px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

/**************************************** h3 styling */

h3 {
  text-transform: uppercase;
  font-family: 'staatliches', 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: white;
  letter-spacing: 2px;
}

/**************************************** p styling */

p {
  font-family: 'Acme', 'Times New Roman', Times, serif;
  font-size: 1.1em;
  font-weight: 700;
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  padding: 7.5px;
  margin: 0;
}

/**************************************** Logo */

.logoImg {
  text-align: center;
  height: 250px;
}

.logoImg img {
  max-height: 250px;
}

/**************************************** Footer Styling */

.footer {
  text-align: center;
}

.footer a {
  color: white;
  font-size: 40px;
}

.footer a:hover {
  color: #594F4F;
}

/**************************************** Text box elements styling */

.indexPic {
  height: 275px;
  padding: 5px;
}

.indexPic p {
  position: absolute;
  color: white;
  text-align: center;
  background: black;
  border: 1px solid white;
}

.indexRowPic {
  margin: auto;
  width: 100%;
} 

.indexPic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.index-box {
  background-color: #222629;
  border: solid 1px #ffffff;
  text-align: center;
  margin-top: 10px;

}

.text-boxes {
  width: 50%;
  background-color: #222629;
  border: solid 1px #61892f;
  text-align: center;
  margin-top: 10px;
}

.text-boxes a {
  color: white;
  font-size: 40px;
}

.cym-box img {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid white;
}

/************** Drum Service Img Box*/

.drum-serv img {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid white;
}

/**************************************** Form Styling */

#comments {
  height: 100px;
}

form {
  color: white;
  top: 50%;
  left: 50%;
  text-shadow: 1px 1px #86c232;
  font-size: x-large;
  font-family: 'Acme', 'Times New Roman', Times, serif;
  padding: 2px;
  margin: 2px;
}

#submit {
  background-color: #474b4f;
  color: white;
  margin: 5px;
}

/**************************************** Tuning Form Styling */

#optionA, #optionB, #optionC {
  display: none;
}


.drum-tuning img {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid white;
}

/**************************************** Max Widths */

@media screen and (max-width: 550px) {
.col-sm-12,  .serv-sm {
      flex: 0 0 auto;
      width: 100%;
      padding: 15px;
  }
}

@media screen and (max-width: 550px) {
  .col-sm-12 p {
      font-size: small;
    }
  }

/**************************************** Nav Bar Mobile friendly */

@media screen and (max-width: 550px) {
nav {
    font-size: small;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
.col-sm-12, .col-md-12 {
      font-size: small;
      text-align: center;
    }
  }

@media screen and (max-width: 768px) {
  .col-md-4 {
    width: fit-content;
        }
      }