@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Staatliches&display=swap');

.row {
  height: 25%;
}

body {
  
  background-color: #594F4F;
}
/**************************************** Always set the map height explicitly to define 
the size of the div 
element that contains the map. */

#map {
  
  height: 50%;
}
      
/**************************************** Optional: Makes the sample page fill the window. */

html, body {
  
  height: 100%;
  margin: 0;
  padding: 0;
}

div #map {
  min-height: 360px;
}

/**************************************** a styling */

nav a {
  font-family: 'staatliches', 'Times New Roman', Times, serif;
  color: white;
  font-size: 2em;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  color: red;
}

/**************************************** h2 styling */

h2 {
    text-transform: uppercase;
    font-family: 'staatliches', 'Times New Roman', Times, serif;
    font-size: 80px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

/**************************************** h3 styling */

h3 {
  text-transform: uppercase;
  font-family: 'staatliches', 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

/**************************************** p styling */

p {
  font-family: 'Advent Pro', 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  letter-spacing: 1.5px;
  padding: 7.5px;
  margin: 0;
}

/**************************************** Logo */

.logoImg {
  text-align: center;
  height: 250px;
}

.logoImg img {
  max-height: 250px;
}

/**************************************** Footer Styling */

.footer {
  text-align: center;
}

.footer a {
  color: white;
  font-size: 40px;
}

.footer a:hover {
  color: #594F4F;
}

/**************************************** Pictures on home page styling */

.indexPic {
  height: 275px;
  padding: 5px;
}

.indexPic p {
  position: absolute;
  color: white;
  text-align: center;
  background: black;
  border: 1px solid white;
}

.indexRowPic {
  margin: auto;
  width: 100%;
} 

.indexPic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.index-box {
  background-color: #a5886c;
  border: solid 2px #ffffff;
  text-align: center;
  margin-top: 10px;
}

.text-boxes {
  width: 50%;
  background-color: #a5886c;
  border: solid 2px #ffffff;
  text-align: center;
  margin-top: 10px;
}

.drop-down {
  background-color: #a5886c;
  border: solid 2px #ffffff;
  text-align: center;
  margin-top: 10px;
}

.servbox p {
  display: none;
  overflow: hidden;
}

/**************************************** Styling for button */

.pbox {
  background: #a5886c;
  font-family: 'Staatliches', 'Times New Roman', Times, serif;
  font-size: 2rem;
  border: 2px solid white;
}

.pbox:hover {
  background-color: #a50909;
  transition: background-color 0.5s ease-in 0.1s; 
}

.button-align {
  text-align: center;
}

.test-text {
  font-size: 1em;
}

.test-text i {
  color: #fffb1f;
}

/**************************************** Form Styling */

#comments {
  height: 100px;
}

/**************************************** Tuning Form Styling */

#drum-tuning {
  font-size: larger;
  font-family: 'Advent Pro','Times New Roman', Times, serif;
  font-weight: 800;
  margin: 10px;
}

/**************************************** Max Widths */

@media screen and (max-width: 550px) {
.col-sm-12,  .serv-sm {
      flex: 0 0 auto;
      width: 100%;
      padding: 15px;
  }
}

/**************************************** Nav Bar Mobile friendly */

@media screen and (max-width: 550px) {
nav {
    font-size: small;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
.col-sm-12, .col-md-12 {
      font-size: small;
      text-align: center;
    }
  }

@media screen and (max-width: 768px) {
  .col-md-4 {
    width: fit-content;
        }
      }


$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);